<!doctype html>
<html lang="en">

<head>
  <title>Careers - Job Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/custom-bs.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/fonts/line-icons/style.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="top">
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/project">Careers</a></div>
          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/project" class="active">Project Openings</a></li>
              <%if (user[0].role == "manager") { %>
              <li><a href="/add">Add Opening</a></li>
              <% } %>
              <li><a href="/user">My Profile</a></li>
            </ul>
          </nav>

          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="/auth/logout" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                  class="mr-2 icon-paper-plane"></span>Logout</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1.jpg');"
      id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold"><%= project[0].name %></h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="site-section">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="d-flex align-items-center">
              <div class="border p-2 d-inline-block mr-3 rounded">
                <img src="/images/featured-listing-1.jpg">
              </div>
              <div>
                <h2><%= project[0].name %></h2>
                <div>
                  <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span><%= project[0].role %></span>
                  <span class="m-2"><span class="icon-clock-o mr-2"></span>
                  <% if (project[0].status == "open") { %>
                  <span class="badge badge-primary px-2 py-1 mb-3"><%= project[0].status %></span>
                  <% } else { %>
                  <span class="badge badge-danger px-2 py-1 mb-3"><%= project[0].status %></span>
                  <% } %>
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-6">
                <%if (user[0].role == "manager" && user[0].email == project[0].createdBy) { %>
                <a href="/project/update/<%= project[0]._id %>" class="btn btn-block btn-primary btn-md">Update</a>
                <% } else if (user[0].role == "employee") { %>
                <% if (project[0].status == "open") { %>
                  <% if (!isApplied) {%>
                <a onclick="applyToJob('<%= project[0]._id %>', '<%= user[0]._id %>')" href="" class="btn btn-block btn-primary btn-md">Apply</a>
                <% } %>
                <% } %>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="mb-5">
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Technology</h3>
              <p><%= project[0].tech %>
              </p>
              <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Job
                Description</h3>
              <p><%= project[0].desc %></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="bg-light p-3 border rounded mb-4">
              <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
              <ul class="list-unstyled pl-3 mb-0">
                <li class="mb-2"><strong class="text-black">Published on:</strong> <%= project[0].createdAt.toDateString() %></li>
                <li class="mb-2"><strong class="text-black">Role:</strong> <%= project[0].role %></li>
                <li class="mb-2"><strong class="text-black">Position Status:</strong> <%= project[0].status %></li>
                <li class="mb-2"><strong class="text-black">Client Name:</strong> <%= project[0].clientName %></li>
                <li class="mb-2"><strong class="text-black">Created By:</strong> <%= projectCreatedBy %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved 
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- SCRIPTS -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/stickyfill.min.js"></script>
  <script src="/js/jquery.fancybox.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>

  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>